.bbtn {
  display: flex;
  justify-content: space-around;
}
button {
  width: 100%;
  border-radius: 10px;
  margin: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #cbe4de;
  cursor: pointer;
}
button:hover {
  background-color: #85aea4;
  transition: 0.7s;
}
button:focus {
  background-color: #85aea4;
  border: 2px solid #639185;
}
.summary {
  width: 100%;
  height: auto;
  padding: 15px;
  border: 2px solid;
  border-radius: 5px;
  box-sizing: content-box;
  display: inline-block;
}
